# Extração dos Dados

In [ ]:
import pandas as pd

In [35]:
dados = pd.read_csv('concert_tours_by_women.csv')
dados

,Rank,Peak,All Time Peak,Actual gross,Adjustedgross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023-2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008-2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018-2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008-2009,131,"$2,137,405",[11]
7,8,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival †,2023-2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]
10,11,NaN,NaN,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,2013-2014,132,"$1,735,606",[15][16]
11,12,NaN,14[17],"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,2009-2011,203,"$1,118,227",[18]
12,13,NaN,NaN,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,2014-2015,151,"$1,350,993",[19]
13,14,1[20],NaN,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],2002-2005,325,"$615,385",[20]
14,15,2[c],NaN,"$194,000,000","$281,617,035",Madonna,Confessions Tour,2006,60,"$3,233,333",[5]
15,16,NaN,NaN,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,2013-2014,142,"$1,295,775",[22]
16,17,NaN,NaN,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,2012-2013,98,"$1,734,694",[d]
17,18,NaN,NaN,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,2015-2016,82,"$2,070,732",[4]
18,19,NaN,NaN,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,2016-2017,121,"$1,385,950",[25]
19,20,NaN,NaN,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,2013-2014,86,"$1,744,186",[26]

# Transformação dos Dados

In [ ]:
# Excluindo Colunas desnecessárias(Peak, All Time Peak, Ref.)
dados.drop(columns=['Peak', 'All Time Peak', 'Ref.'], inplace=True)

In [ ]:
# Removendo símbolos das colunas numéricas (utilização dos atributos de Regex)
dados['Actual gross'] = dados['Actual gross'].str.replace("[$,]|[]|[a-z]", "", regex=True) # Coluna Actual gross
dados['Adjustedgross (in 2022 dollars)'] = dados['Adjustedgross (in 2022 dollars)'].str.replace("[$,]", "", regex=True) # Coluna Adjusted gross
dados['Average gross'] = dados['Average gross'].str.replace("[$,]", "", regex=True) # Coluna Average gross
dados

,Rank,Actual gross,Adjustedgross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,780000000,780000000,Taylor Swift,The Eras Tour †,2023-2024,56,13928571
1,2,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571
2,3,411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008-2009,85,4835294
3,4,397300000,454751555,Pink,Beautiful Trauma World Tour,2018-2019,156,2546795
4,5,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173
5,6,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709
6,7,280000000,381932682,Celine Dion,Taking Chances World Tour,2008-2009,131,2137405
7,8,257600000,257600000,Pink,Summer Carnival †,2023-2024,41,6282927
8,9,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215
9,10,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882
10,11,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013-2014,132,1735606
11,12,227400000,295301479,Lady Gaga,The Monster Ball Tour *,2009-2011,203,1118227
12,13,204000000,251856802,Katy Perry,Prismatic World Tour,2014-2015,151,1350993
13,14,200000000,299676265,Cher,Living Proof: The Farewell Tour ‡[21][a],2002-2005,325,615385
14,15,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333
15,16,184000000,227452347,Pink,The Truth About Love Tour,2013-2014,142,1295775
16,17,170000000,213568571,Lady Gaga,Born This Way Ball,2012-2013,98,1734694
17,18,169800000,207046755,Madonna,Rebel Heart Tour,2015-2016,82,2070732
18,19,167700000,204486106,Adele,Adele Live 2016,2016-2017,121,1385950
19,20,150000000,185423109,Taylor Swift,The Red Tour,2013-2014,86,1744186

In [ ]:
# Convertendo as colunas de string para float
dados['Actual gross'] = dados['Actual gross'].astype(float) # Coluna Actual gross
dados['Adjustedgross (in 2022 dollars)'] = dados['Adjustedgross (in 2022 dollars)'].astype(float) # Coluna Adjusted gross
dados['Average gross'] = dados['Average gross'].astype(float) # Coluna Average gross

dados

,Rank,Actual gross,Adjustedgross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour †,2023-2024,56,13928571.0
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008-2009,85,4835294.0
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018-2019,156,2546795.0
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0
5,6,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0
6,7,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008-2009,131,2137405.0
7,8,257600000.0,257600000.0,Pink,Summer Carnival †,2023-2024,41,6282927.0
8,9,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0
9,10,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0
10,11,229100000.0,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013-2014,132,1735606.0
11,12,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour *,2009-2011,203,1118227.0
12,13,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014-2015,151,1350993.0
13,14,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour ‡[21][a],2002-2005,325,615385.0
14,15,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0
15,16,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013-2014,142,1295775.0
16,17,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012-2013,98,1734694.0
17,18,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015-2016,82,2070732.0
18,19,167700000.0,204486106.0,Adele,Adele Live 2016,2016-2017,121,1385950.0
19,20,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013-2014,86,1744186.0

In [ ]:
# Renomeando Coluna Adjusted gross - Inserindo espaço que falta
dados.rename(columns={"Adjustedgross (in 2022 dollars)": "Adjusted gross (in 2022 dollars)"}, inplace=True) # Comando para renomear
dados

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour †,2023-2024,56,13928571.0
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour ‡[4][a],2008-2009,85,4835294.0
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018-2019,156,2546795.0
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0
5,6,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0
6,7,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008-2009,131,2137405.0
7,8,257600000.0,257600000.0,Pink,Summer Carnival †,2023-2024,41,6282927.0
8,9,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0
9,10,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0
10,11,229100000.0,283202896.0,Beyoncé,The Mrs. Carter Show World Tour,2013-2014,132,1735606.0
11,12,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour *,2009-2011,203,1118227.0
12,13,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014-2015,151,1350993.0
13,14,200000000.0,299676265.0,Cher,Living Proof: The Farewell Tour ‡[21][a],2002-2005,325,615385.0
14,15,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0
15,16,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013-2014,142,1295775.0
16,17,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012-2013,98,1734694.0
17,18,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015-2016,82,2070732.0
18,19,167700000.0,204486106.0,Adele,Adele Live 2016,2016-2017,121,1385950.0
19,20,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013-2014,86,1744186.0

In [ ]:
# Removendo símbolos e itens nos colchetes da coluna Tour title
dados['Tour title'] = dados['Tour title'].str.replace(r"\[[a-z0-9]+\]|[*‡†.:]","", regex=True) # Removendo com uso do regex
dados

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023-2024,56,13928571.0
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,2008-2009,85,4835294.0
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018-2019,156,2546795.0
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0
5,6,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0
6,7,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008-2009,131,2137405.0
7,8,257600000.0,257600000.0,Pink,Summer Carnival,2023-2024,41,6282927.0
8,9,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0
9,10,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0
10,11,229100000.0,283202896.0,Beyoncé,The Mrs Carter Show World Tour,2013-2014,132,1735606.0
11,12,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009-2011,203,1118227.0
12,13,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014-2015,151,1350993.0
13,14,200000000.0,299676265.0,Cher,Living Proof The Farewell Tour,2002-2005,325,615385.0
14,15,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0
15,16,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013-2014,142,1295775.0
16,17,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012-2013,98,1734694.0
17,18,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015-2016,82,2070732.0
18,19,167700000.0,204486106.0,Adele,Adele Live 2016,2016-2017,121,1385950.0
19,20,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013-2014,86,1744186.0

In [ ]:
# Criando novas colunas para separar os anos 
dados[['Start year', 'End year']] = dados['Year(s)'].str.split('-', expand=True) # Separando as colunas pelo '-' e expand
dados['End year'] = dados['End year'].fillna(dados['Start year'])  # Completando a coluna End year,
# inserindo os dados da Start year quando só ha o ano de início

dados

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Start year,End year
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023-2024,56,13928571.0,2023,2024
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56,10353571.0,2023,2023
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,2008-2009,85,4835294.0,2008,2009
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018-2019,156,2546795.0,2018,2019
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53,6522173.0,2018,2018
5,6,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88,3467709.0,2012,2012
6,7,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008-2009,131,2137405.0,2008,2009
7,8,257600000.0,257600000.0,Pink,Summer Carnival,2023-2024,41,6282927.0,2023,2024
8,9,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49,5226215.0,2016,2016
9,10,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,2015,85,2945882.0,2015,2015
10,11,229100000.0,283202896.0,Beyoncé,The Mrs Carter Show World Tour,2013-2014,132,1735606.0,2013,2014
11,12,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009-2011,203,1118227.0,2009,2011
12,13,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014-2015,151,1350993.0,2014,2015
13,14,200000000.0,299676265.0,Cher,Living Proof The Farewell Tour,2002-2005,325,615385.0,2002,2005
14,15,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60,3233333.0,2006,2006
15,16,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013-2014,142,1295775.0,2013,2014
16,17,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012-2013,98,1734694.0,2012,2013
17,18,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015-2016,82,2070732.0,2015,2016
18,19,167700000.0,204486106.0,Adele,Adele Live 2016,2016-2017,121,1385950.0,2016,2017
19,20,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013-2014,86,1744186.0,2013,2014

In [ ]:
# Convertendo as novas colunas em formato Int excluindo a coluna Year(s)
dados[['Start year','End year']] = dados[['Start year','End year']].astype(int) # Conversão
dados.drop(columns='Year(s)', inplace=True) # Exclusão

dados

,Rank,Actual gross,Adjusted gross (in 2022 dollars),Artist,Tour title,Shows,Average gross,Start year,End year
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour,56,13928571.0,2023,2024
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,56,10353571.0,2023,2023
2,3,411000000.0,560622615.0,Madonna,Sticky & Sweet Tour,85,4835294.0,2008,2009
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,156,2546795.0,2018,2019
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,53,6522173.0,2018,2018
5,6,305158363.0,388978496.0,Madonna,The MDNA Tour,88,3467709.0,2012,2012
6,7,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,131,2137405.0,2008,2009
7,8,257600000.0,257600000.0,Pink,Summer Carnival,41,6282927.0,2023,2024
8,9,256084556.0,312258401.0,Beyoncé,The Formation World Tour,49,5226215.0,2016,2016
9,10,250400000.0,309141878.0,Taylor Swift,The 1989 World Tour,85,2945882.0,2015,2015
10,11,229100000.0,283202896.0,Beyoncé,The Mrs Carter Show World Tour,132,1735606.0,2013,2014
11,12,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,203,1118227.0,2009,2011
12,13,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,151,1350993.0,2014,2015
13,14,200000000.0,299676265.0,Cher,Living Proof The Farewell Tour,325,615385.0,2002,2005
14,15,194000000.0,281617035.0,Madonna,Confessions Tour,60,3233333.0,2006,2006
15,16,184000000.0,227452347.0,Pink,The Truth About Love Tour,142,1295775.0,2013,2014
16,17,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,98,1734694.0,2012,2013
17,18,169800000.0,207046755.0,Madonna,Rebel Heart Tour,82,2070732.0,2015,2016
18,19,167700000.0,204486106.0,Adele,Adele Live 2016,121,1385950.0,2016,2017
19,20,150000000.0,185423109.0,Taylor Swift,The Red Tour,86,1744186.0,2013,2014

In [ ]:
# Convertendo o valor da coluna Shows para int
dados['Shows'] = dados['Shows'].astype(int)

# Carregamento dos Dados

In [44]:
dados.to_csv('csv_limpo.csv', index=False)